<!DOCTYPE html>
<html>
<head>
	<title>Submission Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="submission.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
  .column {
  width: 50vw;
  margin-left: 25vw;
}
</style>
</head>
<body>
  <h1 style="margin-top: 5vh; margin-left:10vw;color: lightgrey;"> Details You Entered</h1>
	<div class="row">
  <div class="column " style="background-color:#aaa;">
    <h2>Name</h2>
    <p>{{name}}</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Email</h2>
    <p>{{email}}</p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h2>Username</h2>
    <p>{{username}}</p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h2>Date Of Birth</h2>
    <p>{{dob}}</p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h2>Gender</h2>
    <p>{{gender}}</p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h2>Feedback</h2>
    <p>{{feedback}}</p>
  </div>
</div>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="basic.js">
  
</script>
</body>
</html>